<
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/asset/css/style.css"/>
    <link rel="stylesheet" href="~/asset/css/fontawesome.css"/>
    <title>Document</title>
</head>

<body>
<header id="header">
    <h4>گالری ماشین</h4>
    <em>
        <strong>
            تلفن تماس: ۷۷۷۸۸۹۹۹
        </strong>
    </em>
</header>
<nav>
    <ul class="menu">
        <li>
            <a href="#">موجودی های جدید</a>
        </li>
        <li>
            <a href="#">ماشین دسته دوم</a>
        </li>
        <li>
            <a href="#"> امور مالی </a>
        </li>
        <li>
            <a href="@Url.Action("Contact","Home")">تماس </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Index"> صفحه نخست </a>
        </li>
    </ul>
</nav>

@RenderBody()
</body>

</html>