@{
    ViewData["Title"] = "ارتباط با ما";
}

<div class="contact-us">
    <div class="contact-container">
        <h2><span class="orang-color"> تماس </span>با ما</h2>
        <p>جهت ارتباط با ما فرم زیر را وارد نمایید</p>
        <form action="comment.aspx" method="post">  
        <div class="formgroup">
            <label>نام</label>
            <input type="text" name="name">
        </div>
        <div class="formgroup">
            <label>ایمیل</label>
            <input type="email" name="email">
        </div>

        <div class="formgroup">
            <label>متن پیام</label>
            <textarea name="message-box"></textarea>
        </div>
        <div>
            <input class="btn-submit" type="submit" value="ارسال">

        </div>

        <section class="services clearfix bg-contact">

        <div class="box1 ">

            <i class="fa fa-hotel fa-2x"></i>
            <h4>آدرس</h4>
            <p>تهران- بلوار رسالت- پلاک 13</p>

        </div>
        <div class="box1">

            <i class="fa fa-phone fa-2x"></i>
            <h4>شماره تماس</h4>
            <p>021-77295789</p>

        </div>


        <div class="box1">

            <i class="fa fa-envelope fa-2x"></i>
            <h4>ایمیل</h4>
            <p>mohammad.ramshini1391@gmail.com</p>
        </div>
   
    </section>

    </form>

</div>

</div>