@{
    ViewData["Title"] = "Home Page";
}


<main>
    <div class="main-shutter">
        <h1>گالری ماشین</h1>
        <p>پیشنهاد های جدید: همین امروز با ماشین رویاهات رانندگی کن !</p>
        <div class="liner-First"></div>
    </div>

</main>
<div id="wz-selection">

    <img src="~/asset/image/L5.png"/>
    <img src="~/asset/image/L4.png"/>
    <img src="~/asset/image/L3.png"/>
    <img src="~/asset/image/L2.png"/>
    <img src="~/asset/image/L1.png"/>

</div>

<div class="parent">
    <div class="Inventory-first">
        <h2>
            <a href="#">
                موجودی های
                <br/>
                جدید
            </a>
        </h2>

        <h4>لورم ایپسوم</h4>

    </div>
    <div class="Inventory-second">
        <h2>
            <a href="#">
                خرید
                <br/>
                ماشین دسته دوم
            </a>
        </h2>
        <h4>لورم ایپسوم</h4>

    </div>
</div>

<div class="wz-section">
    <h2 class="txt-first">بهترین پیشنهادات قیمت</h2>
    <br/>
    <h2 class="txt-second">خاص ترین ماشین ها با خاص ترین قیمت ها !</h2>
    <div class="liner-Second"></div>
</div>
<div class="wz-element-change">
    <div class="box">
        <div class="box-image">
            <img src="~/asset/image/Lifan.jpg">
        </div>
        <div class="box-text">
            <a href="#">خودرو ليفان ایکس 50</a>
            <h3>۶۱,۰۰۰,۰۰۰ تومان</h3>
        </div>
    </div>
    <div class="box">
        <div class="box-image">
            <img src="~/asset/image/Lexsuz.jpg">
        </div>
        <div class="box-text">
            <a href="#">
                لکسوس ای اس
            </a>
            <h3>۲۷۰,۰۰۰,۰۰۰ تومان </h3>
        </div>
    </div>
    <div class="box">
        <div class="box-image">
            <img src="~/asset/image/kolios.jpg">
        </div>
        <div class="box-text">
            <a href="#">
                رنو کولیوس
            </a>
            <h3>۳۵۰,۰۰۰,۰۰۰ تومان </h3>
        </div>


    </div>
    <div class="box">
        <div class="box-image">
            <img src="~/asset/image/sportag.jpg">
        </div>
        <div class="box-text">
            <a href="#">
                کیا اسپورتج
            </a>
            <h3>۳۰۵,۰۰۰,۰۰۰ تومان </h3>
        </div>


    </div>
    <div class="box">
        <div class="box-image">
            <img src="~/asset/image/joke.jpg">
        </div>
        <div class="box-text">
            <a href="#">
                خودرو نيسان جوک
            </a>
            <h3> ۲۹۸,۰۰۰,۰۰۰ تومان </h3>
        </div>
    </div>
    <div class="box">
        <div class="box-image">
            <img src="~/asset/image/alentra.jpg">
        </div>
        <div class="box-text">
            <a href="#">
                هیوندا النترا
            </a>
            <h3> ۱۸۰,۰۰۰,۰۰۰ تومان </h3>
        </div>
    </div>

</div>
<div class="container">
    <a class="link" href="#">نمایش تمام محصولات</a>
</div>
<div class="box-container">
    <div class="box-item">
        <h2> چرا شرکت ما ؟</h2>
        <div class="liner-Second"></div>
    </div>

    <div class="box-elemnet">
        <div class="box-icons-txt">
            <div class="box-img">
                <img class="box-key" src="https://theme8.mywebzi.ir/uploads/5fcea667f0a64b27b7854d1595f351d2.gif"/>
            </div>
            <div class="box-txt">
                <h3>تست رایگان رانندگی</h3>
            </div>
        </div>
        <div class="box-icons-txt">
            <div class="box-img">
                <img class="box-clock" src="https://theme8.mywebzi.ir/uploads/658ff256d3f84a43aef5fc97c8a8778a.gif"/>
            </div>
            <div class="box-txt">
                <h3> ۷ روز استفاده ی رایگان</h3>
            </div>
        </div>
        <div class="box-icons-txt">
            <div class="box-img">
                <img class="box-carbar" src="https://theme8.mywebzi.ir/uploads/de694b840cb6467d859e2ebea0b1bfe8.gif"/>
            </div>
            <div class="box-txt">
                <h3> ارسال رایگان</h3>
            </div>
        </div>
        <div class="box-icons-txt">
            <div class="box-img">
                <img class="box-car-apply" src="https://theme8.mywebzi.ir/uploads/d60b396de68e4372b3bb298db7315384.gif"/>
            </div>
            <div class="box-txt">
                <h3> پیش تایید</h3>
            </div>
        </div>
        <div class="box-icons-txt">
            <div class="box-img">
                <img class="box-car-Motor" src="https://theme8.mywebzi.ir/uploads/ae9e90e7c76f45ca8667a23f8068c5ae.gif"/>
            </div>
            <div class="box-txt">
                <h3> تنها موتور های تایید شده</h3>
            </div>
        </div>
    </div>


</div>

<div class="section-yellow">
    <div class="box-txt">
        <span>
            نیاز به وام دارید ؟<br/>
            ما اینجا هستیم
        </span>
    </div>
    <button class="btn">
        <a href="#">بیشتر بدانید</a>
    </button>
</div>


<div id="Parent-Cars">

</div>

